# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual env
.venv/

# Poetry
poetry.lock

# Build artifacts
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.swp
